
{% extends "base.html" %}
{% load static %}

{% block header_img %}
<header class="masthead" style="background-image: url('{% static "assets/img/about_mi2.jpg" %}">
{% endblock header_img %}


{% block title_body1 %}
<h1> Giorgio Saluzzi</h1>
{% endblock title_body1 %}

{% block title_body2 %}
      Ingeniero Civil Industrial                    
{% endblock title_body2 %}

{% block main %}
<main class="mb-4">
      <div class="container px-4 px-lg-5">
          <div class="row gx-4 gx-lg-5 justify-content-center">
              <div class="col-md-10 col-lg-8 col-xl-7">
                  <p>Chileno, nacido en 1983 en la ciudad de Iquique. De profesión ingeniero y con más de 10 años de experiencia en la industria bancaria y el retail. En estos momentos estoy haciendo un curso en CODERHOUSE para ampliar mis conocimientos en programación.</p>
                  <p>Dentro de las actividades que me gusta hacer en mi tiempo libre, está el jugar al tenis y ver películas y series. </p>
              </div>
          </div>
      </div>
  </main>
  {% endblock main %}


