
{% extends "base.html" %}

{% load static %}

{% block header_img %}
<header class="masthead" style="background-image: url('{% static "assets/img/palomitas.jpg" %}">
{% endblock header_img %}

{% block title_body1 %}
<h1> Lista de críticas</h1>
{% endblock title_body1 %}

{% block title_body2 %}
                       
{% endblock title_body2 %}

{% block main %}

<p>
    <a class="btn btn-primary text-uppercase" href={% url "crear_critica" %}>Crear Nueva Crítica</a>
</p>

<form action={% url "criticas" %}>
    <input type="text" name="titulo" placeholder="spiderman, star wars...">
    <input type="submit" value="Buscar">
</form>

<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">

    {% if listado_de_criticas %}
          
          {% for critica in listado_de_criticas %}
          <div class="post-preview">
            <a href={% url "detalle_critica" critica.id %}>
                <h2 class="post-title">{{critica.titulo}}</h2>
                <h4 class="post-subtitle">Haz clic aqui para ver el detalle</h4>
            </a>
            <p class="post-meta">
                Posteado por
                <a>{{critica.autor}}</a>
                el dia {{critica.fecha_creacion}}
            </p>
            <a class="btn btn-secondary btn-sm" href={% url "actualizar_critica" critica.id %}>Actualizar</a> | <a class="btn btn-secondary btn-sm" href={% url "eliminar_critica" critica.id %}>Eliminar</a>
            </div>
            <!-- Divider-->
            <hr class="my-4" />   
            {% endfor %}      
        </div>
    </div>
</div>
    {% else %}
<p>No se encuentran críticas.</p>
{% endif %}



{% endblock main %}

