{% extends "base.html" %}

{% block title_body1 %}
<h1> detalle Críticas</h1>
{% endblock title_body1 %}

{% block title_body2 %}
Detalle {{criticas.id}}          
{% endblock title_body2 %}

{% block main %}

<ul>
    <li>Titulo: {{criticas.titulo}}</li>
    {% if criticas.imagen_pelicula %}
    
        <img src={{criticas.imagen_pelicula.url}} alt="pelicula" height='200px'>
    
        {% else %}
        
        {% endif %}
    <li>Autor: {{criticas.autor}}</li>
    <li>Detalle Crítica: {{criticas.critica | safe }}</li>
    <li>Fecha de Creacion: {{criticas.fecha_creacion}}</li>
</ul>

{% endblock main %}


