{% extends "base.html" %}

{% load static %}

{% block header_img %}
<header class="masthead" style="background-image: url('{% static "assets/img/palomitas.jpg" %}">
{% endblock header_img %}

{% block title_body1 %}
<h1> Lista de usuarios</h1>
{% endblock title_body1 %}

{% block title_body2 %}
                       
{% endblock title_body2 %}

{% block main %}

<p>Lista de usuarios para comenzar chat:</p>

{% if listado_de_usuarios %}
<ul>
    {% for usuario in listado_de_usuarios %}
        {% if usuario.username != request.user.username %}
    <li> 
        <a> {{usuario.username}}</a> | <a class="btn btn-secondary btn-sm" href={% url "sala_chat" usuario.id %}>Chatear</a>
    </li>
        {% endif %}
    {% endfor %}
</ul>
{% else %}
<p>Aún no hay usuarios para mensajear.</p>
{% endif %}


{% endblock main %}