{% extends "base.html" %}

{% block title_body1 %}
<h1> Detalle Perfil</h1>
{% endblock title_body1 %}

{% block title_body2 %}
                       
{% endblock title_body2 %}

{% block main %}

<ul>
    <li>Avatar: 
        {% if request.user.datosextra.avatar %}
        <img src={{request.user.datosextra.avatar.url}} alt="avatar" height='40px'>
        {% else %}
        
        {% endif %}
    </li>
    <li>Nombre: {{user.first_name}}</li>
    <li>Apellido: {{user.last_name}}</li>
    <li>Usuario: {{user.username}}</li>
    <li>Biografía: {{user.datosextra.biografia}}</li>
    
</ul>

<a href={% url "editar_perfil"  %}>
    <button> Editar → </button>
</a>

{% endblock main %}


